.contenttwo {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  .content-wrap{
    width: 94%;
    .text-wrap{
        width: 100%;
        display: flex;
        justify-content: space-around;
        .wrap{
            .txt1{
                color: #9C9C9C;
                font-size: 0.9rem;
            }
            .txt2{
                color: #2697FE;
                font-size: 1.15rem;
            }
            .txtone{
                
            }
            .txttwo{

            }
            
        }
    }
  }
}
