.header {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 0px 4px 40px rgba(211, 211, 211, 0.2);
  .text {
    font-size: 34px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    color: #8e8e8e;
    margin-left: 13rem;
  }
  .icon-wraps {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    .notify-wrap {
      position: relative;
      .notify {
      }
      .notify-num {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 0.6rem;
        color: white;
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        background: #2697fe;
        top: 0;
        right: 0;
      }
    }
    .message-wrap {
      position: relative;
      margin-left: 1.8rem;
      .message-icon {
      }
      .dot {
        position: absolute;
        top: -0.2rem;
        right: -0.2rem;
        height: 0.8rem;
        width: 0.8rem;
      }
    }
    .settings-icon {
      margin-left: 1.8rem;
    }
    .profile-image {
      margin-left: 1.8rem;
      img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
      }
    }
  }
}
