.nav {
  width: 97%;
  padding: 1rem 0;
  height: 5rem;
  border-bottom: #c2c2c2 solid 1px;

  .nav-wrap {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .active {
      border-bottom: 1px solid #2697fe;
    }
    .not-active {
      border-bottom: 1px solid transparent;
    }
    img {
      width: 1.2rem;
      height: 1.2rem;
      object-fit: contain;
    }
    .links {
      cursor: pointer;
      font-weight: 500;
      font-size: 18px;
      line-height: 38px;
      color: #000000;
      padding-bottom: 0.1rem;
    }
  }
}
