.sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  z-index: 2;
  box-shadow: 0px 4px 40px rgba(211, 211, 211, 0.2);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .active {
    background: #2697fe;
    box-shadow: 0px 4px 40px rgba(211, 211, 211, 0.2);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
  }
  .not-active {
    // background: #2697fe;
    box-shadow: 0px 4px 40px rgba(221, 211, 211, 0.1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 1rem;
  }
  .sidebar-wrap {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    img {
      width: 2.5rem;
      object-fit: contain;
    }

    a {
      img {
        width: 17.63px;
        height: 17.63px;
        object-fit: contain;
      }
    }
  }
}
