@import "./styles/header.scss";
@import "./styles/sidebar.scss";
@import "./styles/nav.scss";
@import "./styles/profile.scss";
@import "./styles/form.scss";
@import "./styles/test.scss";
@import "./styles/lecture.scss";
@import "./styles/button.scss";
@import "./styles/select.scss";

.app{
    position: relative;
}

.page {
  width: 89%;
  height: 82vh;
  background-color: white;
  position: fixed;
  right: 6rem;
  top: 6.4rem;
  left: 7.5rem;
  bottom: 6rem;
  z-index: -1;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}